@model TrestlebridgeEntity.Models.Farm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Farm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegisteredName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Acres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Acres)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Facilities)
                </th>
                <th>
                  Capacity
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Facilities)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </td>
                </tr>
                <tr>
                    <td>Animals</td>
                    <td></td>
                </tr>
                        @foreach (var animal in item.Animals)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => animal.AnimalType.Species)
                                </td>
                            </tr>
                        }
             }
            </tbody>
        </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
